{
  "parserOptions": {
    "project": "./tsconfig.base.json"
  },
  "extends": ["airbnb", "airbnb-typescript", "prettier"],
  "plugins": ["cypress"],
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "no-restricted-exports": ["off"],
    "react/function-component-definition": [
      "off",
      {
        "namedComponents": "arrow-function",
        "unnamedComponents": "arrow-function"
      }
    ]
  },
  "globals": {
    "fetch": true,
    "Iterator": true,
    "Generator": true,
    "browser": true
  }
}
